* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.cart_vuoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw auto 6vw;
    width: 80%;
    max-width: 80%;
    height: auto;
}

.cart_vuoto h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-style: italic;
    color: #0056b3;
    text-align: left;
    padding: 0.5vw;
    margin-left: 0.5vw;
}

.cart_items_vuoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw 5vw;
    border-bottom: #0056b3 0.1vw solid;
    border-top: #0056b3 0.1vw solid;
}

.cart_items_vuoto p {
    font-size: 2vw;
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.cart_items_vuoto a {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cart_items_vuoto a:hover {
    color: #0056b3;
}

.cart_items_vuoto a:active {
    color: #0056b3;
}

.cart_pieno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vw auto 6vw;
    width: 90%;
    max-width: 90%;
    height: auto;
}

.cart_pieno_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    max-width: 60%;
    height: auto;
    margin-right: 2vw;
}

.cart_pieno_items h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-style: italic;
    color: #0056b3;
    text-align: left;
    padding: 0.5vw;
    margin-left: 0.5vw;
}

.cart_pieno_check {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    max-width: 30%;
    height: auto;
    margin-top: 0;
    top: 0;
}

.cart_pieno_check h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-style: italic;
    color: #0056b3;
    text-align: left;
    padding: 0.5vw;
    margin-left: 0.5vw;
}

.prodotto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    width: 100%;
    border-bottom: #0056b3 0.1vw solid;
}

.prodotto:first-of-type {
    border-top: #0056b3 0.1vw solid;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.prodotto input[type="number"]{
    font-size: 1vw;
    border: #666666 0.1vw solid;
    padding: 1vw;
    width: 10vw;
    height: 2vw;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.prodotto input[type="number"]:focus{
    outline: none;
    border: black 0.1vw solid;
}

.product-details .nome {
    font-size: 1vw;
    margin: 0;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: black;
}

.product-details .prezzo {
    font-size: 0.8vw;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #666666;
}

.summary {
    padding: 1vw;
    width: 100%;
    border-top: #0056b3 solid 0.1vw;
}

.summary h3 {
    border-bottom: none;
}

.summary div {
    margin: 1vw 0;
}

.summary p {
    margin: 0.5vw 0;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.summary p span {
    float: right;
}

.checkout-button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-button button {
    margin: 0.5vw 0;
    padding: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #06083d;
    border: #003A82;
    transition: background-color 0.3s ease;
}

.checkout-button button:hover {
    background-color: #0056b3;
}

.accedi-button{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accedi-button .accedi-p{
    font-size: 1.2vw;
    color: black;
    text-align: center;
}

.accedi-button button{
    margin: 0.5vw 0;
    padding: 1vw;
    width: 80%;
    height: 3vw;
    font-size: 1vw;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #06083d;
    border: #003A82;
    transition: background-color 0.3s ease;
    border-radius: 4%;
}

.accedi-button button:hover {
    background-color: #0056b3;
}


.prodotto img {
    width: 2vw;
    height: 2vw;
}

.prodotto .bidone {
    border: none;
    background-color: white;
    width: 2vw;
    height: 2vw;
    margin:auto;
    cursor: pointer;
    position: relative;
}

.bidone img{
    position: absolute;
    width: 2vw;
    height: 2vw;
    top:-0.5vw;
}


.img_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    height: auto;
    padding: 0;
    margin: 0;
}

.img_details img {
    width: 10vw;
    height: 10vw;
    margin-right: 1vw;
}


input[type=number] {
    width: 5vw;
    padding: 0.5vw;
    text-align: center;
    margin-right: 2vw;
}

.prezzo_totale {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: #0056b3;
    margin-right: 2vw;
}
