*{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: red; /* Colore di sfondo del footer */
    padding: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    color: white; /* Colore del testo */
    text-align: center; /* Centra il testo */
}

/* Facoltativo: Stili aggiuntivi per una migliore presentazione */
.column h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.column p {
    margin: 0.5em 0;
}