* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7vw 1.25vw;
    background-color: #fff;
    box-shadow: 0 0.15vw 0.25vw rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 15vw;
    height: auto; /* Modifica per mantenere il rapporto di aspetto */
    margin-left: 1.5vw;
}

.logo span {
    font-size: 1.5vw;
    font-weight: bold;
    color: #000;
    margin-left: 1vw; /* Aggiunto margine per separare il testo dal logo */
}

.search-bar {
    flex-grow: 1;
    margin: 0 1vw; /* Aggiunto margine per separare la barra di ricerca dagli altri elementi */
    text-align: center;
}

.search-bar input {
    width: 60%;
    padding: 0.7vw;
    font-size: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.25vw;
}

.user-options {
    display: flex;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-access {
    color: rgb(128, 128, 128);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.login-access img {
    background: grey;
    border-radius: 50%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    color: #000;
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
}

.login-access span {
    font-size: 1.2vw;
    margin-right: 1vw;
    cursor: pointer;
}

.utente-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.utente-nome {
    margin-right: 0.5vw;
    color: black;
}

.utente-saldo {
    font-size: 0.8vw;
    color: limegreen;
}

.login-access:hover img {
    background-color: #0056b3;
}

.login-access:hover span {
    color: #0056b3;
}

.cart-icon {
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: #003A82;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 3.5vw;
    margin-right: 2.5vw;
}

.cart-icon img {
    width: 2vw;
    height: 2vw;
    filter: invert(1); /* Cambia da nero in bianco */
}

.cart-icon:hover {
    background-color: #0056b3;
}

/* Per un numero di articoli nel carrello */
.cart-icon::after {
    content: attr(data-item-count); /* Utilizza l'attributo data per il conteggio */
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.90vw;
}

.login-dropdown {
    color: rgb(128, 128, 128);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.login-dropdown img {
    background: grey;
    border-radius: 50%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    color: #000;
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
}

.login-dropdown span {
    margin-right: 0.5vw;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10vw;
    box-shadow: 0 0.15vw 0.25vw rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 0.5vw 1vw;
    text-decoration: none;
    display: block;
}

.dropdown:hover span {
    color: #0056b3;
}

.dropdown:hover img {
    background-color: #0056b3;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.login-dropdown {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.login-dropdown:hover .utente-saldo {
    color: limegreen;
}

.dropdown:hover .utente-saldo {
    color: limegreen; /* Il colore rimane verde */
}

