* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.25em;
    background-color: #fff;
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 15em;
    height: auto;
    margin-left: 1.5em;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}

.search-bar {
    flex-grow: 1;
    margin: 0 0.4em;
    text-align: center;
}

.search-bar input {
    width: 50%;
    padding: 0.7em;
    font-size: 1em;
    border: 0.2em solid #ccc;
    border-radius: 0.25em;
    margin-right: 1.5em;
}

.user-options {
    display: flex;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-access {
    color: rgb(128, 128, 128);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.login-access img {
    background: grey;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #000;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.login-access span {
    margin-right: 0.5em;
    cursor: pointer;
}

.utente-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.utente-nome {
    margin-right: 0.5em;
}

.utente-saldo {
    font-size: 0.8em;
    color: #666;
}

.login-access:hover img {
    background-color: #0056b3;
}

.login-access:hover span {
    color: #0056b3;
}

.cart-icon {
    position: relative;
    width: 3em;
    height: 3em;
    background-color: #003A82;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 3.5em;
    margin-right: 2.5em;
}

.cart-icon img {
    width: 2em;
    height: 2em;
    filter: invert(1); /* Cambia da nero in bianco */
}

.cart-icon:hover {
    background-color: #0056b3;
}

/* Per un numero di articoli nel carrello */
.cart-icon::after {
    content: "0";
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
}

.login-dropdown {
    color: rgb(128, 128, 128);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.login-dropdown img {
    background: grey;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #000;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.login-dropdown span {
    margin-right: 0.5em;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.dropdown-content a {
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}

.dropdown:hover span{
    color: #0056b3;
}

.dropdown:hover img{
    background-color: #0056b3;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.login-dropdown {
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.utente-nome {
    margin-right: 0.5em;
}

.utente-saldo {
    font-size: 0.8em;
    color: #666;
}