
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.homepage {
    width: 100%;
    margin: 0;
}

.image-big {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto auto;
    width: 80%;
    height: auto;
    position: relative;
}

.immagine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.immagine img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    border-radius: 0.8em;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
}

.pulsante {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
    z-index: 1;
}

.pulsante:first-child {
    left: 0;
}

.pulsante:last-child {
    right: 0;
}

button {
    padding: 0.8em 0.2em;
    font-size: 3em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s ease;
}

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.catalogo h1 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    background-color: #003A82;
    padding: 0.4em;
    color: white;
    width: 100%;
}

.lista {
    width: 90%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 6em;
}

.oggetto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin: 0.6em;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 1em;
    width: 18%;
    border-radius: 0.7em;
    background-color: white;
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

.oggetto img {
    width: 10em;
    height: 10em;
    margin-bottom: 0.5em;
}

.oggetto .nome {
    font-size: 1em;
    color: black;
    font-family: "Roboto", sans-serif;
}

.oggetto .barred-prezzo {
    font-size: 0.8em;
    color: grey;
    text-decoration: grey line-through;
}

.oggetto .prezzo {
    font-size: 1em;
    color: #003A82;
}

.oggetto:hover {
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
}

.oggetto:hover strong {
    color: #0056b3;
}

.oggetto img:hover {
    opacity: 0.8;
}

.oggetto button {
    background-color: transparent;
    border: 0.1em solid #CA0000;
    color: #CA0000;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    font-size: 0.8em;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    width: 80%;
    border-radius: 5%;
}

.oggetto button:hover {
    background-color: #CA0000;
    color: white;
    border-color: #E4112A;
}



