* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.utenti {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 4em auto;
}

.utenti td, .utenti th {
    border: 0.1em solid #ddd;
    padding: 0.5em;
    text-align: center;
}

.utenti th {
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #0056b3;
    color: white;
}

.utenti td {
    font-size: 1em;
}

button {
    padding: 1em 2em;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4%;
    transition: background-color 0.3s ease;
    margin: 1em;
    font-size: 1.2em;
}

button:hover {
    background-color: #0056b3;
}

.admin-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.admin-buttons .toggle {
    padding: 0.5em;
    border-radius: 10%;
    width: 8em;
    height: 3em;
    margin: 0.5em;
    font-size: 1em;
}

.admin-buttons .toggle.admin {
    background-color: red;
}

.admin-buttons .toggle.non-admin {
    background-color: green;
}

.admin-buttons .toggle.admin:hover {
    background-color: #CA0000;
}

.admin-buttons .toggle.non-admin:hover {
    background-color: darkgreen;
}

@media screen and (max-width: 980px) {
    .utenti {
        width: 90%;
    }
    .admin-buttons .toggle {
        width: 7em;
        height: 2.5em;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 750px) {
    .utenti {
        width: 100%;
    }

    .utenti th, .utenti td {
        font-size: 0.9em;
    }

    .admin-buttons .toggle {
        width: 6em;
        height: 2.5em;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 540px) {
    .admin-buttons .toggle {
        width: 50%;
        height: 3em;
    }
}




