* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #003A82;
    display: flex; /* Flexbox per il layout */
    z-index: 100; /* Il menu rimanga sopra il contenuto */
    margin: 0 auto 0;
}

li {
    display: flex; /* Flexbox per il layout dei singoli elementi */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.25em;
    text-decoration: none;
    border-left: #f2f2f2 0.1em solid;
    background-color: #003A82;
}

li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: #2B2D42;
    border-left: none;
}

/* Stili specifici per i pulsanti rossi */
.red-button {
    background-color: red;
}

.red-button a {
    background-color: red !important; /* forza background rosso */
    border-left: none !important; /* rimuove il bordo sinistro */
    color: white;
}

.red-button a:hover {
    background-color: darkred !important;
}

/* Spaziatore per spingere i pulsanti a destra */
.spacer {
    flex-grow: 1;
    border-left: none;
}
