* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.product-page {
    width: 80%;
    padding: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.infos {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    color: #666;
    text-align: center;
}

.product-container {
    display: flex;
    align-items: center;
    margin-top: 2em;
    line-height: 0.2em;
}

.product-image {
    text-align: center;
    margin-right: 2em;
}

.product-image img {
    border: 0.1em solid #0056b3;
    padding: 0.5em;
    width: 20em;
    height: 20em;
}

.product-details {
    padding: 1.5em;
    background-color: white;
    flex: 1;
}

.product-details h1 {
    font-size: 3em;
    margin-bottom: 1em;
    padding: 1em 0;
}

.price {
    margin-bottom: 2em;
}

.barred-prezzo {
    font-size: 1.5em;
    color: grey;
    text-decoration: line-through;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.prezzo {
    font-size: 2em;
    color: #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input[type="number"] {
    font-family: Arial, sans-serif;
    outline: none;
    font-size: 1.2em;
    width: 40%;
    height: 3em;
    padding: 0.5em;
    margin: 1em 0;
    border: #666666 0.1em solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="number"]:focus {
    border: 0.1em solid black;
    outline: none;
}

button {
    padding: 1em 2em;
    background-color: #007bff;
    font-size: 1.2em;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
    align-self: center;
}

button:hover {
    background-color: #0056b3;
}

.descrizione {
    font-size: 0.8em;
    color: grey;
    font-family: Arial, sans-serif;
    padding: 0.2em;
}

label {
    font-size: 1.2em;
    color: black;
}