* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.back {
    padding: 0.6vw;
    margin: 2vw 0 0.5vw 4vw;
    background-color: #5a6268;
    color: white;
    border: black solid 0.1vw;
    text-align: center;
    font-size: 1.2vw;
}

.back:hover {
    background-color: #666666;
}

.tag {
    width: 90%;
    max-width: 90%;
    height: auto;
    margin: 5vw auto 1vw;
}

.tag h2 {
    text-align: left;
    padding: 0.5vw;
    font-size: 2vw;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    max-width: 90%;
    height: auto;
    margin: 0.5vw auto 5vw;
    border-top: black dashed 0.2vw;
    border-bottom: black dashed 0.2vw;
}


.summary {
    width: 50%;
    max-width: 50%;
    margin: auto;
    margin-left: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 0.3vw;
    margin: 0.5vw;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
}

.detail label {
    padding: 0.5vw;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: #CA0000;
}

.detail input {
    padding: 0.2vw;
    font-family: Arial, sans-serif;
    font-size: 0.8vw;
    border: grey 0.1vw solid;
}

.detail input:focus{
    border: black solid 0.1vw;
    outline: none;
}

.detail textarea {
    border: #666666 0.1vw solid;
}
.detail textarea:focus{
    border: black 0.1vw solid;
    outline: none;
}

.detail select {
    border: #666666 0.1vw solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.detail select:focus{
    border: black 0.1vw solid;
    outline: none;
}

#nome{
    width: 14vw;
    height: 2vw;
}

#prezzo{
    width: 14vw;
    height: 2vw;
}

#quantita{
    width: 10vw;
    height: 2vw;
}

#sconto{
    width: 10vw;
    height: 2vw;
}

#categoria{
    padding: 0.2vw;
    font-family: Arial, sans-serif;
    width: 10vw;
    height: 2vw;
    font-size: 0.8vw;
}

#submit{
    padding: 1vw;
    font-size: 0.6vw;
    margin: auto;
    width: 2vw;
    height: 1vw;
    text-align: center;
    border: black 0.1vw solid;
}

.detail textarea {
    padding: 0.2vw;
    font-family: Arial, sans-serif;
    font-size: 0.8vw;
    width: 14vw;
    height: 10vw;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row .detail {
    flex: 1;
    margin-right: 1vw;
}

.row .detail:last-child {
    margin-right: 0;
}


.immagine {
    width: 50%;
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.immagine img {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    padding: 1vw;
}

.immagine label{
    font-size: 0.8vw;
    font-family: Arial, sans-serif;
    color: black;
}

.immagine input{
    width: 8vw;
    height: 2vw;
    font-size: 1vw;
    padding: 0.5vw;
    border: #666666 solid 0.1vw;
}

.immagine input:focus{
    outline: none;
    border: black solid 0.1vw;
}
